.about-page {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1rem;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.about-content {
    flex: 1;
    margin-right: 20px;
}

.about-heading {
    padding: 0.5rem 1.5rem;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 10px 0 0 0;
}

.about-subtext {
    font-weight: 600;
    font-size: 1.2rem;
    padding-bottom: 0.5rem;
}

.sponsors-grid {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    /* center */
    justify-content: center;
}

.sponsor-item {
    height: 12rem;
    width: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
}

.sponsor-item img {
    max-width: 100%;
    max-height: 100%;
}

/* for images that takes more width use this, might be useful in future */
/* .sponsor-item:nth-child(5) {
    grid-column: span 2;
} */

/* for mobile devices */
@media screen and (max-width: 768px) {
    .about-page {
        flex-direction: column-reverse;
        margin: 0;
    }

    .about-content {
        margin-right: 0;
    }

    .sponsors-grid {
        margin-top: 20px;
        grid-template-columns: repeat(3, 1fr);
    }

    .sponsor-item {
        max-width: 6rem;
        max-height: 6rem;
    }
}