.Home {
    display: block;
    text-align: left;
}
  
.text-object {
    display: grid;
    place-items: center;
    color: #472f32;
}
  
h1 {
    font-family: "Oswald", sans-serif;
    font-size: 140px;
    /* font-style: italic; */
    color: #df766c
}
  
h2 {
    margin-top: -80px;
    font-family: "Permanent Marker", cursive;
    font-size: 65px;
}
  
h3 {
    margin-top: -50px;
    font-family: "Caveat", cursive;
    font-size: 65px;
    letter-spacing: 0.5rem;
}

.interest-form-button {
    margin-top: -10px;
}
