.navbar {
    padding: 20px 0px;
    display: flex;
    align-items: center;
    border-bottom: 3px solid #121212;
}

.logo {
    height: 100px;
    img {
        height: 100px;
        border-radius: 100%;
    }
    margin-left: 100px;
    margin-right: auto;
}

.navbar-menu {
    margin-right: 100px;
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 30px;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    color: #472f32;
}

.navbar-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.animate {
    display: inline-block;
    position: relative;
}
  
.animate::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #121212;
    transition: transform 0.25s ease-out;
    transform-origin: bottom center;
}

.animate:hover::after {
    transform: scaleX(1);
    transform-origin: bottom center;
}

/* for mobile devices */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        padding: 10px;
    }

    .logo {
        margin: 0 auto 20px auto;
    }

    .navbar-menu {
        margin: 0;
        gap: 20px;
        font-size: 1.8rem;
    }

    .navbar-menu li {
        margin: 0;
    }

    .navbar-right {
        margin-top: 20px;
    }
}